<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuzhong.sparkproject.dao.DessionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.xuzhong.sparkproject.domain.DessionDetail" >
    <id column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="page_id" property="pageId" jdbcType="INTEGER" />
    <result column="action_time" property="actionTime" jdbcType="VARCHAR" />
    <result column="search_keyword" property="searchKeyword" jdbcType="VARCHAR" />
    <result column="click_category_id" property="clickCategoryId" jdbcType="INTEGER" />
    <result column="click_product_id" property="clickProductId" jdbcType="INTEGER" />
    <result column="order_category_ids" property="orderCategoryIds" jdbcType="VARCHAR" />
    <result column="order_product_ids" property="orderProductIds" jdbcType="VARCHAR" />
    <result column="pay_category_ids" property="payCategoryIds" jdbcType="VARCHAR" />
    <result column="pay_product_ids" property="payProductIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    task_id, user_id, session_id, page_id, action_time, search_keyword, click_category_id, 
    click_product_id, order_category_ids, order_product_ids, pay_category_ids, pay_product_ids
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xuzhong.sparkproject.domain.DessionDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from session_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from session_detail
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from session_detail
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xuzhong.sparkproject.domain.DessionDetailExample" >
    delete from session_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xuzhong.sparkproject.domain.DessionDetail" >
    insert into session_detail (task_id, user_id, session_id, 
      page_id, action_time, search_keyword, 
      click_category_id, click_product_id, order_category_ids, 
      order_product_ids, pay_category_ids, pay_product_ids
      )
    values (#{taskId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sessionId,jdbcType=VARCHAR}, 
      #{pageId,jdbcType=INTEGER}, #{actionTime,jdbcType=VARCHAR}, #{searchKeyword,jdbcType=VARCHAR}, 
      #{clickCategoryId,jdbcType=INTEGER}, #{clickProductId,jdbcType=INTEGER}, #{orderCategoryIds,jdbcType=VARCHAR}, 
      #{orderProductIds,jdbcType=VARCHAR}, #{payCategoryIds,jdbcType=VARCHAR}, #{payProductIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xuzhong.sparkproject.domain.DessionDetail" >
    insert into session_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="pageId != null" >
        page_id,
      </if>
      <if test="actionTime != null" >
        action_time,
      </if>
      <if test="searchKeyword != null" >
        search_keyword,
      </if>
      <if test="clickCategoryId != null" >
        click_category_id,
      </if>
      <if test="clickProductId != null" >
        click_product_id,
      </if>
      <if test="orderCategoryIds != null" >
        order_category_ids,
      </if>
      <if test="orderProductIds != null" >
        order_product_ids,
      </if>
      <if test="payCategoryIds != null" >
        pay_category_ids,
      </if>
      <if test="payProductIds != null" >
        pay_product_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="actionTime != null" >
        #{actionTime,jdbcType=VARCHAR},
      </if>
      <if test="searchKeyword != null" >
        #{searchKeyword,jdbcType=VARCHAR},
      </if>
      <if test="clickCategoryId != null" >
        #{clickCategoryId,jdbcType=INTEGER},
      </if>
      <if test="clickProductId != null" >
        #{clickProductId,jdbcType=INTEGER},
      </if>
      <if test="orderCategoryIds != null" >
        #{orderCategoryIds,jdbcType=VARCHAR},
      </if>
      <if test="orderProductIds != null" >
        #{orderProductIds,jdbcType=VARCHAR},
      </if>
      <if test="payCategoryIds != null" >
        #{payCategoryIds,jdbcType=VARCHAR},
      </if>
      <if test="payProductIds != null" >
        #{payProductIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xuzhong.sparkproject.domain.DessionDetailExample" resultType="java.lang.Integer" >
    select count(*) from session_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update session_detail
    <set >
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.sessionId != null" >
        session_id = #{record.sessionId,jdbcType=VARCHAR},
      </if>
      <if test="record.pageId != null" >
        page_id = #{record.pageId,jdbcType=INTEGER},
      </if>
      <if test="record.actionTime != null" >
        action_time = #{record.actionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.searchKeyword != null" >
        search_keyword = #{record.searchKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.clickCategoryId != null" >
        click_category_id = #{record.clickCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.clickProductId != null" >
        click_product_id = #{record.clickProductId,jdbcType=INTEGER},
      </if>
      <if test="record.orderCategoryIds != null" >
        order_category_ids = #{record.orderCategoryIds,jdbcType=VARCHAR},
      </if>
      <if test="record.orderProductIds != null" >
        order_product_ids = #{record.orderProductIds,jdbcType=VARCHAR},
      </if>
      <if test="record.payCategoryIds != null" >
        pay_category_ids = #{record.payCategoryIds,jdbcType=VARCHAR},
      </if>
      <if test="record.payProductIds != null" >
        pay_product_ids = #{record.payProductIds,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update session_detail
    set task_id = #{record.taskId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      session_id = #{record.sessionId,jdbcType=VARCHAR},
      page_id = #{record.pageId,jdbcType=INTEGER},
      action_time = #{record.actionTime,jdbcType=VARCHAR},
      search_keyword = #{record.searchKeyword,jdbcType=VARCHAR},
      click_category_id = #{record.clickCategoryId,jdbcType=INTEGER},
      click_product_id = #{record.clickProductId,jdbcType=INTEGER},
      order_category_ids = #{record.orderCategoryIds,jdbcType=VARCHAR},
      order_product_ids = #{record.orderProductIds,jdbcType=VARCHAR},
      pay_category_ids = #{record.payCategoryIds,jdbcType=VARCHAR},
      pay_product_ids = #{record.payProductIds,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuzhong.sparkproject.domain.DessionDetail" >
    update session_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null" >
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null" >
        page_id = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="actionTime != null" >
        action_time = #{actionTime,jdbcType=VARCHAR},
      </if>
      <if test="searchKeyword != null" >
        search_keyword = #{searchKeyword,jdbcType=VARCHAR},
      </if>
      <if test="clickCategoryId != null" >
        click_category_id = #{clickCategoryId,jdbcType=INTEGER},
      </if>
      <if test="clickProductId != null" >
        click_product_id = #{clickProductId,jdbcType=INTEGER},
      </if>
      <if test="orderCategoryIds != null" >
        order_category_ids = #{orderCategoryIds,jdbcType=VARCHAR},
      </if>
      <if test="orderProductIds != null" >
        order_product_ids = #{orderProductIds,jdbcType=VARCHAR},
      </if>
      <if test="payCategoryIds != null" >
        pay_category_ids = #{payCategoryIds,jdbcType=VARCHAR},
      </if>
      <if test="payProductIds != null" >
        pay_product_ids = #{payProductIds,jdbcType=VARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuzhong.sparkproject.domain.DessionDetail" >
    update session_detail
    set user_id = #{userId,jdbcType=INTEGER},
      session_id = #{sessionId,jdbcType=VARCHAR},
      page_id = #{pageId,jdbcType=INTEGER},
      action_time = #{actionTime,jdbcType=VARCHAR},
      search_keyword = #{searchKeyword,jdbcType=VARCHAR},
      click_category_id = #{clickCategoryId,jdbcType=INTEGER},
      click_product_id = #{clickProductId,jdbcType=INTEGER},
      order_category_ids = #{orderCategoryIds,jdbcType=VARCHAR},
      order_product_ids = #{orderProductIds,jdbcType=VARCHAR},
      pay_category_ids = #{payCategoryIds,jdbcType=VARCHAR},
      pay_product_ids = #{payProductIds,jdbcType=VARCHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>